# Base Setting #
server:
  port: 8080
  servlet:
    encoding:
      force-response: true

#########################################################

# Spring boot #

spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  ## DB (datasource)
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:8080/
    username:
    password:
    ### DBCP( Database Connection Pool )
    hikari:
      minimum-idle: 5
      maximum-pool-size: 30
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000
      pool-name: HikariCP

  ## JPA
  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  ## Logging
  logging:
    level:
      org:
        hibernate:
          type:
            descriptor:
              sql: trace

  ## Redis
  data:
    redis:
      host:
        localhost
      port:
        6379

  ## Mail
  mail:
    host: smtp.gmail.com
    port: 587
    username: test
    password: test
    properties:
      mail:
        smtp:
          starttls:
            enable: true
          auth: true

app:
  mail:
    url: http://localhost:8080

# JWT
jwt:
  secret: example

# CORS
cors:
    allowed-origins: http://localhost:3000
    allowed-methods: GET,POST,PUT,DELETE,OPTIONS
    allowed-headers: Content-Type,Authorization
    allow-credentials: true
    max-age: 3600





# Swagger (springdoc-openapi-ui)
springdoc:
  swagger-ui:
    disable-swagger-default-url: true                   # 기본경로 해제
    path: /swagger-ui.html                              # swagger-ui.html을 기본 경로로 설정
    groups-order: DESC                                  # Swagger Grouping 정렬
    operations-sorter: method                           # method, alpha
    display-request-duration: true                      # 요청 시간 표시

  api-docs:
    path: /api-docs                                     # API 문서 경로 (Json 형태)
  paths-to-match: /api/**                               # Swagger 문서에 표시할 경로
  show-actuator: true                                   # Actuator API 문서 표시
  default-produces-media-type: application/json         # 기본 응답 타입
  default-consumes-media-type: application/json         # 기본 요청 타입



#########################################################